@charset 'utf-8';


//======================================================================
//  Base
//======================================================================

*:focus{
  outline: none !important;
}

body{
  background: #ccc;
  padding-bottom: 2000px;
}




//======================================================================
//  読み込み
//======================================================================

@import './pagetop.scss';




//======================================================================
//  END
//======================================================================
